

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.select_day{width: 80px;}
.select_month{width: 110px;}
.select_year{width: 80px;}
.select_hour{width: 80px;}
.select_minute{width: 80px;}

.alertOuterContent{
    display: none;
}












